html {
	font-family: 'Open Sans', sans-serif;
}


.watch-card {
	color: $white;
	h2 {
		font-size: 1.5em;
		font-weight: 600;
		letter-spacing: 0.1em;
	}
	p {
		font-size: 0.8em;
	}
	input {
		font-size: 1.1em;
	}
	a {
		color: $white;
		text-decoration: none;
		font-size: 0.8em;
	}
}


// Input-fields
*::-webkit-input-placeholder {
    color: $white;
}
*:-moz-placeholder {
    /* FF 4-18 */
    color: $white;
}
*::-moz-placeholder {
    /* FF 19+ */
    color: $white;
}
*:-ms-input-placeholder {
    /* IE 10+ */
    color: $white;
}