.watch-card {
	@include card-project ($height: 32em, $width: 20em, $radius: 10px);
	text-align: center;
	background: url(../images/background.jpg);
	background-position: center center;
	background-size: cover;
}

.watch-card_logo {
	width: 5em;
	margin-top: 3em;
}

.watch-card_headline {
	margin-top: 2.5em;
}

.watch-card_description {
	margin-top: $reg-margin-top;
}

.watch-card-form_input {
	@extend %watch-card-input_fields;
	margin-top: $reg-margin-top;
}

.watch-card-form_button {
	margin-top: $reg-margin-top;
	@extend %watch-card-input_fields;
	border: none;
	background: linear-gradient(to right, #51879F, #809EA0);
}

.watch-card_signIn {
	margin-top: 1.5em;
	display: block;
}